/* LoginForm.css */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
  }
  
  .admlogin-container {
    background: white;
    padding: 30px;
    margin: 5vh auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }
  
  .admlogin-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .adminput-group {
    margin-bottom: 15px;
  }
  
  .adminput-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
  }
  
  .adminput-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;

  }
  .adminput-group input:last-child{
  }
  .input-span-btn23{
    position: relative;
    cursor: pointer;
  }
  .eyebtn{
    position: absolute;
    right: 15px;
    top: 7px;
  }
  .admbtn  {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .admbtn:hover {
    background-color: #007bff;
  }
  
  .admsignup-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .admsignup-link a {
    color: #007bff;
    text-decoration: none;
  }
  