
.dashboard-container {
    min-height: 100vh;
    background: linear-gradient(to right, #7b2ff7, #3c8ce7);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .dashboard-navbar {
    background: linear-gradient(to right, #333, #555);
    color: white;
    padding: 15px 30px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    /* border-radius: 10px; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .firstcard:hover {
    transform: translateY(-5px);
  }
  .secondcard:hover {
    transform: translateY(-5px);
  }
  .thirdcard:hover {
    transform: translateY(-5px);
  }
  .forthcard:hover{
    transform: translateY(-5px);
  }
  .fstcard:hover {
    transform: translateY(-5px);
  }
  .sndcard:hover {
    transform: translateY(-5px);
  }
  .trdcard:hover {
    transform: translateY(-5px);
  }
  .frthcard:hover{
    transform: translateY(-5px);
  }
  .firstcard-btn1:hover{
    background-color: black;
    color: white;
  }
  .secondcard-btn1:hover{
    background-color: black;
    color: white;
  }
  .thirdcard-btn1:hover{
    background-color: black;
    color: white;
  }
  .fourthcard-btn1:hover{
    background-color: black;
    color: white;
  }
  .firstcard-btn2:hover{
    background-color: black;
    color: white;
  }
  .secondcard-btn2:hover{
    background-color: black;
    color: white;
  }
  .thirdcard-btn2:hover{
    background-color: black;
    color: white;
  }
  .forthcard-btn2:hover{
    background-color: black;
    color: white;
  }

  .dashboard-cards-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .firstrow{
    display: flex;
    gap: 100px;
  }
  .firstcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 220px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .secondcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 220px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .thirdcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 220px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .forthcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 220px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .secondrow{
    display: flex;
    gap: 100px;
  }
  .fstcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 220px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .sndcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 220px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .trdcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 220px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .frthcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 220px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .thirdrow{
    display: flex;
    gap: 200px;
    justify-content: space-between;
  }
  .firstcard3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 220px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .secondcard3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 220px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .dashboard-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    /* height: 300px; */
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .dashboard-card:hover {
    transform: translateY(-5px);
  }
  

  .firstcard-btn1 {
    background: #007bff;
    color: white;
    padding: 10px 55px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    /* margin-top: 90px; */
    transition: background 0.3s ease;
  }
  .secondcard-btn1 {
    background: #007bff;
    color: white;
    padding: 10px 55px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    /* margin-top: 90px; */
    transition: background 0.3s ease;
  }
  .thirdcard-btn1 {
    background: #007bff;
    color: white;
    padding: 10px 55px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    /* margin-top: 90px; */
    transition: background 0.3s ease;
  }
  .fourthcard-btn1{
    background: #007bff;
    color: white;
    padding: 10px 55px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    /* margin-top: 90px; */
    transition: background 0.3s ease;
  }
  .firstcard-btn2{
    background: #007bff;
    color: white;
    padding: 10px 55px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    /* margin-top: 90px; */
    transition: background 0.3s ease;
  }
  .secondcard-btn2{
    background: #007bff;
    color: white;
    padding: 10px 55px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    /* margin-top: 90px; */
    transition: background 0.3s ease;
  }
  .thirdcard-btn2{
    background: #007bff;
    color: white;
    padding: 10px 55px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    /* margin-top: 90px; */
    transition: background 0.3s ease;
  }
  .forthcard-btn2{
    background: #007bff;
    color: white;
    padding: 10px 55px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    /* margin-top: 90px; */
    transition: background 0.3s ease;
  }
  
  .dashboard-view-button:hover {
    background: #0056b3;
  }
  
