.applicationFormOuter {
    background-color: #f1f9ff;
    padding: 3rem 0;
    min-height: 100vh;
   
  }
  .applicationFormMain {
    max-width: 710px;
    background-color: #f0f7ff;
    padding: 2rem;
    border-radius: 10px;
    margin: auto;
  }
  
  .formTitle {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 1rem;
  }
  
  .formContainer {
    width: 100%;
  }
  
  .formRow {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .formInput {
    width: 50%;
    font-size: 1rem;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin-bottom: 15px;
  }
  .formInput::placeholder {
    color: #bdc1c9;
  }
  
  .fileLabel {
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #222d4e;
    margin: 10px 0;
  }
  
  .fileInput {
    width: 100%;
    float: left;
    height: 108px;
    background-color: #fff;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 5px;
    color: #bdc1c9;
    display: flex;
    padding: 35px;
    text-align-last: center;
    margin-bottom: 15px;
  }
  
  .fullWidthInput {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin-bottom: 15px;
  }
  .fullWidthInput::placeholder {
    color: #bdc1c9;
  }
  .formCheckboxOuter {
    width: 100%;
    margin: auto;
    /* border: 2px solid; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .formCheckbox {
    margin-right: 5px;
  }
  .checkboxLabel {
    color: #222d4e;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    font-style: italic;
  }
  .subimtButtonDiv {
    display: flex;
    justify-content: center;
  }
  .subimtButton {
    background-color: #f1ce3b;
    color: #000000;
  }
  .subimtButton {
    padding: 10px 25px;
    margin: 15px 0;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    border-style: none;
    border-radius: 5px;
  }
  .subimtButton:hover{
      transition: opacity 1s ease ;
      opacity: 0.6; 
    
  }
  @media (max-width:786px) {
  
    .formRow{
      flex-direction: column;
      width: 100%;
    }
    .formInput{
      width: 100%;
    }
  
}
  @media (max-width:486px) {
    .topElementOuter{
      padding: 1rem;
    }
    .aboutOuterDiv{
      padding: 4rem 2rem;
    }
    .carouselOuterDiv{
    padding: 1rem;
    }
    .imageGridOuterDiv{
      gap: 10px;
      padding: 0 6px;
    }
    .singlePersonImg{
   width: 100px;
   height: 100px;
  
    }
    .carouselHeading{
    font-size:30px;
    }
    .subimtButton{
    padding: 8px 25px;
    }
    .locationImgSingle{
    width: 80%;
    }
    .locationHeading{
    font-size: 30px;
    }
    .officeLocation{
    margin: 1rem 0;
    }
  }