.fromMain{
    background-color: red
}
.buttonContainer{
    width: 90%;
    display: flex;
    justify-content:end ;
    padding:50px 0px;
}
.buttonStyle{
    padding: 10px 40px;
    border-radius: 10px;
    border:none;
}