*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
    min-height: 100vh;
    width: 100%;
}
.subContainer{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
