.solutioncountermain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.solutioncounter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  gap: 30px;
  width: 700px;
}

.solutioncounter Input {
  height: 50px;
  font-size: large;
  font-weight: 900;
}

.solutioncounter Button {
  height: 40px;
  width: 100px;
  font-size: large;
  font-weight: 900;
}

.servicecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.servicecard h1 {
  font-size: 40px;
  color: #c1c1c1;
  font-weight: 1000;
}

.cardbutton {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}
